.card{
    margin-top: 5% !important;
}
thead th{
    padding: 6px 12px 6px 12px !important;
}
tbody th, tbody td{
    padding: 9px 12px 9px 12px !important;
}
.card-title{
    padding-top: 3px !important;
}
.card-body{
    text-transform: capitalize !important;
}
.table .fas{
    color: #212529 !important;
}
.user-null h5{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter !important;
    letter-spacing: 1px;
    padding: 12px;
}