.header h5{
    letter-spacing: 1px;
}
.header p{
    margin-top: -7px;
    margin-bottom: 6px !important;
    font-weight: lighter !important;
    font-size: 17px !important;
    color: #6c757d;
}
.info p{
    text-align: center;
    margin-bottom: 5px !important;
    font-size: 17px !important;
}
.info p span{
    font-weight: lighter !important;
}
.preco-semdesconto{
    color: #6c757d !important;
    opacity: .6;
    text-decoration: line-through;
    margin-left: 10px;
}
.btn-desconto{
    margin-bottom: 5px;
    margin-left: 12px;
    cursor: default !important;
    color: black !important;
    background-color: #fecb01 !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 8px 0 8px !important;
}