.card{
    cursor: default;
    min-height: 95%;
    max-height: 95%;
}
.card hr{
    margin-top: 0;
    margin-bottom: 0;
}
.card-body{
    text-align: center;
}
.card-img-top{
    object-fit: cover;
    opacity: .75;
}
.card-img-top:hover{
    opacity: 1;
}
.img-overlay{
    position: absolute;
    top: 0;
    padding: 20px;
}
.btn-desconto{
    cursor: default !important;
    color: #fff !important;
    background-color: red !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 6px 0 6px !important;
}
.btn-desconto:hover, .btn-desconto:focus{
    color: #fff !important;
}
.icon-percentagem{
    font-size: 12px;
}
.preco-semdesconto{
    color: grey;
    opacity: .7;
    text-decoration: line-through;
    margin-right: 10px
}
.btn-dark{
    background-color: #222 !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-dark:hover, .btn-dark:focus{
    color: #fff;
    background-color: #151515 !important;
}
.text-publicado{
    color: #6c757d;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
}
.icon-favorito{
    display: block;
    color: red;
    padding: 12px 16px 8px 16px;
}