.card{
    cursor: default;
    width: 100% !important;
    margin-bottom: 0 !important;
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.02);
}
.card-body{
    text-align: left;
    margin-left: -70px !important;
}
.card img{
    width: 89.8% !important;
    object-fit: fill;
    opacity: .75;
}
.img-top{
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.card img:hover{
    opacity: 1;
}
.vr-card{
    height: 100% !important;
    margin-left: -30px !important;
    border-left:1px solid rgba(0,0,0,.1) !important;
}
.card-body h5{
    color: #333 !important;
    margin-top: -5px !important;
    font-size: 18px !important;
}
.card-body h6{
    color: #333 !important;
    font-size: 17px !important;
}
.btn-desconto{
    margin-bottom: 4px;
    margin-left: 10px;
    cursor: default !important;
    color: black !important;
    background-color: #fecb01 !important;
    font-size: 15px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 8px 0 8px !important;
}
.btn-desconto:hover, .btn-desconto:focus{
    color: #fff !important;
}
.preco-semdesconto{
    font-size: 15px !important;
    color: #6c757d !important;
    opacity: .6;
    text-decoration: line-through;
    margin-left: 10px;
}
.semdesconto{
    padding-top: 4px !important;
    margin-bottom: 12px !important;
}
.update-quantidade{
    text-align: center;
    padding-top: 10px !important;
    width: 40% !important;
}
.row-btn{
    padding-top: 20px !important;
    margin-bottom: -10px !important;
}
.btn-dark{
    background-color: #222 !important;
    font-size: 13px !important;
    height: 35px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-dark:hover, .btn-dark:focus{
    color: #fff;
    background-color: #151515 !important;
}
.icon-favorito{
    display: block;
    color: red;
    font-size: 18px !important;
    padding-top: 9px;
    padding-left: 6px;
}
.icon-delete{
    display: block;
    color: #151515;
    font-size: 18px !important;
    padding-top: 9px;
    padding-left: 55px;
}