.navbar-light{
    background-color: white !important;
    margin: 5px;
}
.brand-link{
    font-size: 22px;
}
.brand-link:link, .brand-link:visited{
    color: #222 !important;
}
.brand-link:hover{
    color: black !important;
}
.navbar-icons-login{
    padding-left: 15%;
}
.navbar-icons-login .fas{
    display: block;
    padding: 20px 16px 0 16px !important;
    color: rgba(0,0,0,.5);
}
.navbar-icons-guest{
    text-transform: uppercase;
    padding-top: 8px;
    padding-left: 76%;
}
.navbar-icons-login .fas:hover, .navbar-icons-guest .fas:hover{
    color: rgba(0,0,0,.6);
}
.brand-image{
    margin-top: -12px !important;
    max-height: 50px !important;
}
.navbar-dark{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #222 !important;
    height: 40px;
    padding-left: 33% !important;
    margin-bottom: 15px;
}
.dropdown-menu{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.fas{
    display: block;
    padding: 12px 16px 0 16px !important;
    color: rgba(0,0,0,.5);
}