.carousel-item{
    height: 400px;
}
.carousel-indicators{
    top: 0;
    padding-top: 10px;
}
.slideshow .btn{
    text-transform: uppercase;
    position: absolute;
    left: 46%;
}
.button-slideshow{
    background-color: #222 !important;
    border-radius: 6px;
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    padding: 9px 20px 8px;
    letter-spacing: 2px;
    margin-top: -20px !important;
}
.button-slideshow:hover, .button-slideshow:focus{
    color: #fff;
    background-color: #151515 !important;
}

.hr-descontos{
    margin-top: 48px !important;
    padding-bottom: 10px !important;
}