.carousel-item{
    height: 400px;
}
.carousel-indicators{
    top: 0;
    padding-top: 10px;
}
.slideshow .btn{
    text-transform: uppercase;
    position: absolute;
    left: 45%;
}
.btn-slideshow{
    width: 10% !important;
    color: #fff !important;
    background-color: #222 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -20px !important;
}
.btn-slideshow:hover, .btn-slideshow:focus{
    color: #fff;
    background-color: #151515 !important;
}

.header-descontos hr{
    margin-top: 48px !important;
    padding-bottom: 10px !important;
}
.header-descontos{
    text-align: center;
}
.header-descontos h6{
    font-size: 18px !important;
    font-weight: lighter !important;
}