.update-form{
    margin-top: 5% !important;
    margin-bottom: 15% !important;
}

.login-form{
    margin-top: 5% !important;
    margin-bottom: 39% !important;
}

.signup-form{
    margin-top: 5% !important;
    margin-bottom: 10% !important;
}