.header h5{
    letter-spacing: 1px;
}
.header p{
    margin-top: -7px;
    margin-bottom: 6px !important;
    font-weight: lighter !important;
    color: #6c757d;
}
.info p{
    text-align: center;
    margin-bottom: 5px;
}
.produto-btn{
    margin-top: -10px !important;
    text-transform: uppercase;
}
.icon-favorito-view{
    display: block;
    color: red;
    font-size: 18px !important;
    padding: 8px 8px;
}
.produto-btn a span{
    padding-left: 7px;
}
.btn-desconto{
     margin-bottom: 5px;
     margin-left: 12px;
}

.titulo-sugestao{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-top: -5px;
}