.header{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header p{
    margin-top: -7px;
    margin-bottom: 8px !important;
    font-size: 14px;
    letter-spacing: 0;
    color: #6c757d;
}
.info p{
    text-align: center;
    margin-bottom: 5px;
}
.produto-btn{
    text-transform: uppercase;
    width: 90%;
    padding-left: 10%;
}
.icon-favorito-view{
    display: block;
    color: red;
    padding: 10px 4px 0 10px;
}
a span{
    padding-left: 7px;
}
.btn-desconto{
     margin-bottom: 2px;
     margin-left: 7px;
 }